extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Medicative
          small &nbsp;Find hospitals near you in case of emergency !
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') Medical Center
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address lbnagar,hyderabad
          p
            span.label.label-warning Blood bank
            | &nbsp;
            span.label.label-warning Clinic 
            | &nbsp;
            span.label.label-warning Emergency Department
            | &nbsp;
            span.label.label-warning chemist shop
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location2') apollo
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 200m
          p.address kothapet,hyderabad
          p
            span.label.label-warning Blood bank
            | &nbsp;
            span.label.label-warning Birth centers
            | &nbsp;
            span.label.label-warning Emergency Department
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location3') Ranbow Childrens
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 250m
          p.address Jntu road,hyderabad
          p
            span.label.label-warning Emergency ward
            | &nbsp;
            span.label.label-warning clean and hygienic labour room
            | &nbsp;
            span.label.label-warning specialists pediatric doctors
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead
        | Looking for nearby hospitals? Medicative helps you find hospitals near you in case of emergency. Let Medicative help you find the Hospital you're looking for.